/* Reseteo de CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
   background-color: rgb(0, 0, 0);
}

/* Estilo del título */ 

h1{
    color: white;
    font-family: 'Staatliches', cursive;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

/* imagenes del inicio - presentación */

.fotoinicio{
    width: 350px;
    height: 450;
    opacity: 0.7;
    border: 2px; 
}

img{
    width: 350px;
    height: 450;
    opacity: 0.7;
    border: 2px; 
}

img:hover{
    opacity: 1;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

header{
    padding: 0.1rem;
}

.fotoinicio1:hover{
    transform: scale(1.1 , 1.1 );
    transition: all 1s ease;
}

.fotoinicio2:hover{
    transform: scale(1.1, 1.1);
    transition: all 1s ease;
}

.fotoinicio3:hover{
    transform: scale(1.1, 1.1);
    transition: all 1s ease;
}

/* Estilo Footer */

.footer{
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
